<div class="cover d-flex">
  <div class="container bg-white my-5 p-2 rounded">
    <form autocomplete="off" #userForm="ngForm" equalsPassword class="form-row" (ngSubmit)="save()">
      <div class="col-12">
        <h4 class="text-center">Su contraseña ha expirado por favor introduzca una nueva</h4>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="old_password" class="required">Contraseña Anterior</label>
          <input required type="password" class="form-control" id="old_password" name="old_password"
            [(ngModel)]="model.old_password">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input required type="password" class="form-control" id="password" name="password" placeholder="Contraseña"
            [(ngModel)]="model.password" #password="ngModel" [passwordStrength]="settings">
        </div>
        <div class="form-group">
          <label for="password_confirmation">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
            placeholder="Confirmar Contraseña" [(ngModel)]="model.password_confirm">
          <div class="invalid-feedback" [ngClass]="{'d-block':userForm.errors?.equalsPassword}">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <div class="form-group col" *ngIf="password.errors?.passwordStrength?.indicatorText">
        <div class="password-strength">
          <div class="password-strength-text" aria-live="assertive">
            {{ password.errors?.passwordStrength.indicatorText }}
          </div>
          <div class="password-strength-title">
            Fortaleza de la contraseña:
          </div>
          <div class="password-indicator">
            <div [class]="'indicator ' + 'indicator-' + password.errors?.passwordStrength?.strengthText"
              [style.width]="password.errors?.passwordStrength.strength+'%'"></div>
          </div>

          <div class="password-suggestions text-danger description"
            *ngIf="password.errors?.passwordStrength?.messages.length>0">
            Su contraseña debe cumplir:
            <ul>
              <li *ngFor="let mensaje of password.errors?.passwordStrength?.messages">
                {{ mensaje }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid || userForm.form.pristine">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>