.footer-datys{
  height: 6vh;
  position: relative;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  img{
    margin: 15px 30px 15px 0;
    height: 12px;
  }
}
