
.mat-dialog-content{
  width: 550px;
}
.mat-table {
  font-size: 14px;
  width: 100%;
}
th.mat-header-cell{
  font-size: 14px;
}
td, th,  .mat-dialog-title {
  color: #3f650d;
}
#buttonDialogCancel{
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
