<div @fadeIn>
  <ng-search-bar
    [permissions]="permissions"
    [(itemPerPage)]="itemPerPage"
    [(find)]="param_search"
    (search)="search(true)"
    (create)="create()"
    [hideCreate]="hideCreate">
    <div class="items pr-2">
      <button type="button" class="btn btn-primary" (click)="markAsReadAll()">Marcar todo como leído</button>
    </div>
  </ng-search-bar>

  <ng-table
    [rows]="objects"
    [headers]="headers"
    [extraHeaders]="extraHeaders"
    [headerView]="headerView"
    [rowConfig]="rowConfig"
    [permissions]="permissions"
    [currentItems]="currentItems"
    [itemPerPage]="itemPerPage"
    [(currentpage)]="currentpage"
    [totalItems]="totalItems"
    [totalPage]="totalPage"
    [showPrint]="showPrint"
    (update)="update($event)"
    (removeConfirm)="removeConfirm($event)"
    (view)="view($event)"
    (print)="print()"
    (search)="search()"></ng-table>
</div>
