<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="no-access-container">
        <h1 class="title">401</h1>
        <div class="message">
          <h3>
            Acceso Denegado
          </h3>
          <span class="border"></span>
        </div>
        <h4><strong>No tiene suficientes permisos para ver el contenido de esta página.</strong></h4>
        <a class="btn btn-primary" routerLink="/">volver al sitio</a>
      </div>
    </div>
  </div>
</div>
