<div @fadeIn>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Id solicitud</th>
        <td>{{ model.id_solicitud }}</td>
      </tr>
      <tr>
        <th>Cantidad</th>
        <td>{{ model.cantidad }}</td>
      </tr>
      <tr>
        <th>Estado solicitud</th>

        <td>{{ model.estado_solicitd }}</td>
      </tr>
      <tr>
        <th>Fecha solicitud</th>
        <td>{{ model.fecha_solicitud }}</td>
      </tr>
     <!-- <tr>
        <th>Tipo Visa</th>
        <td>{{ model.tipo_visa }}</td>
      </tr>
      <tr>
        <th>Entidad</th>
        <td>{{ model.entidad }}</td>
      </tr>-->
    </tbody>
  </table>
  <ng-fbutton
    (cancel)="goList()"
    [showSaveNew]="false"
    [showSave]="false"
  ></ng-fbutton>
</div>
