.button-add {
  margin: 1.75rem 0.75rem;
  color: #284700;
  a {
    &:hover {
      cursor: pointer;
    }
    .fa {
      font-size: 1.5rem;
    }
  }
}
.clean {
  width: 42.22px;
  margin-right: 10px;
  border-radius: 0.75rem;
}
.prueba {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  flex-wrap: wrap;
}
