<div
  @fadeIn
  class="ph-admin">
  <ng-search-bar
    [permissions]="permissions"
    [(itemPerPage)]="itemPerPage"
    [(find)]="param_search"
    (search)="search(true)"
    (create)="create()"
    [hasFilters]="hasFilters()"
    (resetFilters)="resetFilters()">
    <!--<div class="items padding-right-10">-->
      <!--<ng-choosen-->
        <!--[items]="provincias"-->
        <!--[options]="choosenOpts"-->
        <!--(change)="loadMunFilter(province_filter)"-->
        <!--[(ngModel)]="province_filter"-->
        <!--name="province_filter"-->
        <!--id="province_filter"-->
        <!--[disabled]="disable_prov"></ng-choosen>-->
    <!--</div>-->
    <!--<div class="items padding-right-10">-->
      <!--<ng-choosen-->
        <!--[items]="munis_filter"-->
        <!--[options]="choosenOptsMuni"-->
        <!--[(ngModel)]="municipality_filter"-->
        <!--name="municipality_filter"-->
        <!--id="municipality_filter"-->
        <!--[disabled]="disable_mun"></ng-choosen>-->
    <!--</div>-->
  </ng-search-bar>


  <ng-table
    [rows]="objects"
    [headers]="headers"
    [permissions]="permissions"
    [currentItems]="currentItems"
    [itemPerPage]="itemPerPage"
    [(currentpage)]="currentpage"
    [totalItems]="totalItems"
    [totalPage]="totalPage"
    [extraHeaders]="extraHeaders"
    (update)="update($event)"
    (view)="view($event)"
    (removeConfirm)="removeConfirm($event)"
    (search)="search()"
    (print)="printUI($event)"></ng-table>


</div>
